<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testingnew">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UI.Main.Application"
        android:icon="@color/bt_black_38"
        android:label="Shopping App"
        android:roundIcon="@style/Theme.Design"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="31"
        tools:ignore="DataExtractionRules,HardcodedDebugMode">
        <activity
            android:name=".UI.ThanksPage"
            android:exported="false" />
        <activity
            android:name=".UI.Payment.PaymentPage"
            android:exported="false" />
        <activity
            android:name=".UI.Details"
            android:exported="false" />
        <activity
            android:name=".UI.Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>